{{- if .Values.nfsbroker.enabled }}
---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: nfsbroker-credentials
stringData:
  USERNAME: nfsbroker
  PASSWORD: nfsbroker
  UAA_CLIENT_ID: "nfsbroker-credhub-client"
  UAA_CLIENT_SECRET: {{ .Values.nfsbroker.oauthClientsSecret | quote }}
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfsbroker
  labels:
    app: nfsbroker
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/nfsbroker-configmap.yaml") . | sha256sum }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nfsbroker
  template:
    metadata:
      labels:
        app: nfsbroker
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/nfsbroker-configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: nfsbroker
          image: {{ .Values.nfsbroker.image.repository }}:{{ default .Chart.AppVersion .Values.nfsbroker.image.tag }}
          imagePullPolicy: {{ .Values.nfsbroker.image.imagePullPolicy }}
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: nfsbroker-credentials
          args:
            - --listenAddr=0.0.0.0:8080
            - --servicesConfig=/services.json
            - --credhubURL={{ .Values.nfsbroker.credhubURL }}
            - --credhubCACertPath=/ssl/ca.crt
            - --storeID=nfsbroker
            - --logLevel=info
            - --timeFormat=rfc3339
            - --allowedOptions=source,uid,gid,auto_cache,readonly,version,mount,cache
          {{- if .Values.nfsbroker.resources }}
          resources:
            {{- toYaml .Values.nfsbroker.resources | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: server-certs
              mountPath: /ssl
              readOnly: true
            - name: services-config
              mountPath: /services.json
              subPath: services.json
      {{- if .Values.nfsbroker.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nfsbroker.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.nfsbroker.tolerations }}
      tolerations:
        {{- toYaml .Values.nfsbroker.tolerations | nindent 8 }}
      {{- end }}
      volumes:
        - name: services-config
          configMap:
            name: nfsbroker-configmap
        - name: server-certs
          secret:
            secretName: {{ default "nfsbroker" .Values.nfsbroker.certificateSecret }}
---
kind: Service
apiVersion: v1
metadata:
  name: nfsbroker
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: nfsbroker
{{- if not .Values.nfsbroker.certificateSecret }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: nfsbroker
spec:
  secretName: nfsbroker
  commonName: client
  dnsNames:
    - nfsbroker
    - nfsbroker.{{ .Release.Namespace }}.svc
    - nfsbroker.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    name: ca-issuer
    kind: ClusterIssuer
  usages:
    - key encipherment
    - digital signature
    - server auth
    - client auth
  privateKey:
    rotationPolicy: Always
{{- end }}
{{- end }}
