name: CF Smoke Tests on KinD

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  kind-smoke:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0
      - name: Check if only ignored paths changed
        id: check_changes
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            CHANGED_FILES=$(git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.sha }})
            RELEVANT_FILES=$(echo "$CHANGED_FILES" | grep -v -E '.*\.Dockerfile|^releases/.*/files/|^\.github/|^docs/|\.md$|^renovate\.json$' || true)
            if [ -z "$RELEVANT_FILES" ]; then
              echo "Only ignored paths were changed. Skipping workflow."
              echo "skip=true" >> $GITHUB_OUTPUT
            else
              echo "skip=false" >> $GITHUB_OUTPUT
            fi
          else
            echo "skip=false" >> $GITHUB_OUTPUT
          fi
      - name: Set kernel settings
        if: steps.check_changes.outputs.skip != 'true'
        run: |
          docker run --rm \
            --privileged \
            --pid host \
            alpine sh -c "sysctl -w fs.inotify.max_user_instances=512"
      - name: Install dependencies
        if: steps.check_changes.outputs.skip != 'true'
        uses: ./.github/actions/setup-kind-deps
      - name: Run make up
        if: steps.check_changes.outputs.skip != 'true'
        run: make up
      - name: Login
        if: steps.check_changes.outputs.skip != 'true'
        run: make login
      - name: Init
        if: steps.check_changes.outputs.skip != 'true'
        run: make bootstrap-complete
      - name: setup CF tests
        if: steps.check_changes.outputs.skip != 'true'
        uses: ./.github/actions/setup-cf-tests
        with:
          test-repo: cf-smoke-tests
          config-template: ./.github/smoke-config.tpl
          config-output: ./.github/smoke-config.json
      - name: run smoke test
        if: steps.check_changes.outputs.skip != 'true'
        env:
          CONFIG: "${{ github.workspace }}/.github/smoke-config.json"
          GINKGO_NO_COLOR: "true"
        run: |
          ./cf-smoke-tests/bin/test --no-color --github-output --timeout=30m --procs=4 --json-report report.json
      - name: debug events
        if: failure()
        run: kubectl get events -A --sort-by='.lastTimestamp'
      - name: debug pods
        if: failure()
        run: |
          echo "===== CLOUD_CONTROLLER ====="
          kubectl get pod -l app.kubernetes.io/name=cloud-controller -o wide
          kubectl get pod -l app.kubernetes.io/name=cloud-controller -o jsonpath='{.status.containerStatuses[*].state}' | jq
          kubectl logs -l app.kubernetes.io/name=cloud-controller --all-containers=true
          echo "===== CC_WORKER ====="
          kubectl get pod -l app.kubernetes.io/name=cc-worker -o wide
          kubectl logs -l app.kubernetes.io/name=cc-worker
          echo "===== CC_UPLOADER ====="
          kubectl get pod -l app=cc-uploader -o wide
          kubectl logs -l app=cc-uploader
          echo "===== CC_DEPLOYMENT_UPDATER ====="
          kubectl get pod -l app.kubernetes.io/name=cc-deployment-updater -o wide
          kubectl logs -l app.kubernetes.io/name=cc-deployment-updater
          echo "===== CC_WORKER_CLOCK ====="
          kubectl get pod -l app.kubernetes.io/name=cc-worker-clock -o wide
          kubectl logs -l app.kubernetes.io/name=cc-worker-clock
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        if: always()
        with:
          name: report.json
          path: ./cf-smoke-tests/report.json
