name: Renovate
on:
  schedule:
    - cron: "30 4 * * *"
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Renovate log level"
        required: false
        default: "info"
        type: choice
        options:
          - debug
          - info
          - warn
          - error
          - fatal

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@44f24283a60f64273f1294932f16ba61193cccca  # v46.1.0
      with:
        token: ${{ secrets.SERVICE_USER_GITHUB_TOKEN }}
        configurationFile: .github/renovate-config.js
      env:
        RENOVATE_GIT_AUTHOR: ${{ secrets.SERVICE_USER_AUTHOR_EMAIL }}
        LOG_LEVEL: ${{ github.event.inputs.logLevel || 'info' }}
