name: Renovate
on:
  schedule:
    - cron: "30 4 * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v6
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v44.2.6
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        configurationFile: .github/renovate-config.js
